body { font-family: Arial, sans-serif; text-align: center; background-color: #a70638;}
#customAlert { display: none; position: fixed; top: 30%; left: 50%; transform: translate(-50%, -50%); z-index: 1001; font-size: 18px;
                background-color: #000000; color: white; padding: 20px 30px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.3); width: 330px;}
header { background-color: #8e0530; position: fixed; top: 0; left: 0; width: 100%; width: 100%; height: 7vh;
         color: #fff; display: flex; justify-content: center; align-items: center; text-align: center; }
.login { background-color: #fff; width: 70vw; transform: translate(-50%, -50%); top: 50%; left: 50%; position: fixed; height: 80vh;}
.textinput { border: 1px solid #888; margin-top: 1vh; width: 250px; height: 50px; padding-left: 15px;}
.loginBt { background-color: #000; color: #fff; margin-top: 80px; font-size: 20px; padding: 5px 40px;}